// .navbar-fixed-top {
//   position: absolute;
// }

header {
  background-image: url('../img/header-bg.png');
  padding-bottom: 123px;
}
@media (max-width: 768px) {
  .nav li a {
    color: black!important;
  }

  .navbar-toggle {
    color: #fed136!important;
  }
}

.navbar-brand {
  img {
    width: 40%;
    position: absolute;
    max-width: 350px;
    top: 9px;
    left: 18%;
  }
}

.logo-text {
  color: white;
  font-size: 0.5em;
}

.affix img {
  display: none;
}

#services {
  padding: 0;

  #particles {
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .container {
    padding: 100px 50px 50px;
  }
}

.intro-text {
  margin-left: 17%;

  .my-intro {
    font-size: 3em;
    color: #ffffff;
    letter-spacing: 2.45px;
    line-height: 52.07px;
    text-align: left;
  }

  .my-intro2 {
    font-family: PingFangSC-Thin;
    margin-top: 30px;
    font-size: 1.5em;
    color: #ffffff;
    letter-spacing: 0.91px;
    text-align: left;
  }
}

#intro {
  background-image: radial-gradient(29% 62%, #189dd3 30%, #53a0fe 86%);
  z-index: 2;

  b {
    font-size: 1.4em;
  }

  img {
    width: 80%;
  }

  .introText {
    font-family: PingFangSC-Thin;
    font-size: 1.3em;
    color: #ffffff;
    letter-spacing: 1.35px;
    line-height: 30px;
    text-align: justify;
    width: 80%;
    margin: -50px auto 0;
  }

  .introLine {
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    width: 80%;
    margin: 60px auto;
  }
}

#about {
  background-image: url('../img/about.png');
  padding-bottom: 10px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  .background-cover;
  color: white;
  font-family: PingFangSC-Light;

  .introText {
    font-family: PingFangSC-Thin;
    font-size: 1.3em;
    color: #ffffff;
    letter-spacing: 1.35px;
    line-height: 30px;
    text-align: justify;
    width: 80%;
    margin: 0 auto;
  }

  .ul {
    width: 86%;
  }

  .flex {
    display: flex;
    width: 100%;
  }

  button {
    border: 1px solid #979797;
    border-radius: 100px;
    width: 341px;
    height: 75px;
    background: transparent;
    margin: 50px auto;
  }
}

#contact {
  text-align: center;

  .i {
    width: 30px;
    height: 30px;
    margin: 4px 10px 6px 0;
  }

  .col-md-6 {
    margin: 50px 0;
  }

  .text-left {
    margin: auto;
    width: 300px;

    p {
      font-family: PingFangSC-Ultralight;
      font-size: 2em;
      color: #000000;
      letter-spacing: 1.3px;
      text-align: left;
      line-height: 1.4;

      b {
        font-family: PingFangSC-Semibold;
        font-size: 1.7em;
        color: #000000;
        letter-spacing: 2.72px;
        text-align: left;
      }
    }

    a {
      display: block;
      font-family: PingFangSC-Ultralight;
      font-size: 1.5em;
      color: #000000;
      letter-spacing: 1.3px;
      text-align: left;
      line-height: 1.4;
    }
  }
}
