// .navbar-fixed-top {
//   position: absolute;
// }

header{
  padding-bottom: 123px;
}
.logo-text{
  color: white;
  font-size: 0.5em;
}
.intro-text{
  margin-left: 17%;

  .my-intro {
    font-size:4em;
    color:#ffffff;
    letter-spacing:2.45px;
    line-height:72.07px;
    text-align:left;
  }

  .my-intro2 {
    font-family: PingFangSC-Thin;
    margin-top: 30px;
    font-size:1.5em;
    color:#ffffff;
    letter-spacing:0.91px;
    text-align:left;
  }

}
